@{
    ViewData["Title"] = "Potvrdi Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Uspešno ste potvrdili svoju email adresu. <a asp-controller="Account" asp-action="Login">Prijavite se na sistem ovde</a>.
    </p>
</div>
