@{
    ViewData["Title"] =  "Email nije potvrđen!";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Ne možete da se prijavite na sistem, dok ne potvrdite svoj email klikom na link koji vam se poslat pri registraciji.
    </p>
</div>
