@{
    ViewData["Title"] = "Nalog blokiran!";
}

<header>
    <h1 class="text-danger">Nalog blokiran!</h1>
    <p class="text-danger">Ovaj nalog je blokiran, kontaktirajte administratora.</p>
</header>
