@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Vasa lozinka je resetovana. <a asp-controller="Account" asp-action="Login">Prijavite se na sistem ovde</a>.
</p>
