@{
    ViewData["Title"] = "O aplikaciji";
}
<div class="text-center">
    <h4>Diplomski rad na osnovnim studijama Elektrotehničkog fakulteta u Beogradu</h4>
    <h2>MessyLab Admin</h2>
    <h3>Student: Sava Minić 105/08</h3>
    <h3>Mentori: prof.dr. Jelica Protić, as. Sofija Purić</h3>

    <hr />
    <p>TODO</p>
</div>
