@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h2>MessyLab Admin</h2>
        <p>Pregled sistema</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <h2>Najnovije akcije:</h2>
        <p>TODO</p>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <h2>Najnovija rešenja:</h2>
        <p>TODO</p>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <h2>Informacije:</h2>
        <p>TODO</p>
    </div>
</div>
