@model MessyLabAdmin.Models.Assignment

@{
    ViewData["Title"] = "Izmeni zadatak";
    ViewData["ActiveNav"] = "Assignments";
}

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h2>Izmena zadatka</h2>
        <form asp-action="Edit">
            <div class="form-horizontal">
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label">Naslov</label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label">Opis</label>
                    <div class="col-md-10">
                        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="col-md-2 control-label">Početak</label>
                    <div class="col-md-10">
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="col-md-2 control-label">Kraj</label>
                    <div class="col-md-10">
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsActive" />
                            <label asp-for="IsActive">Aktivan zadatak</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                        <a class="btn btn-default" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="SelectEnrollmentNumberDiv" />
            <input type="hidden" asp-for="SelectEnrollmentNumberModulo" />
            <input type="hidden" asp-for="SelectEnrollmentYear" />
            <input type="hidden" asp-for="SelectStatus" />
        </form>
    </div>
    <div class="col-md-6">
        <h2>Izabrani studenti:</h2>
        <form id="SelectStudentsForm" asp-action="StudentsCount" method="get">
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label for="StudentCount" class="col-md-6 control-label" style="font-size: 20px;">Dodeljeno zadataka</label>
                    <div class="col-md-6">
                        <div id="StudentCountOld" style="font-size: 28px;">@ViewBag.StudentAssignmentsCount</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="StudentCount" class="col-md-6 control-label" style="font-size: 20px;">Rešeno zadataka</label>
                    <div class="col-md-6">
                        <div id="StudentCountOld" style="font-size: 28px;">@ViewBag.SolvedStudentAssignmentsCount</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChangesWarning" class="col-md-10 text-center">
                        <div class="alert alert-danger" role="alert">
                            Promena parameterara će obrisati sve dodeljene zadatke bez rešenja, i dodeliti studentima prema novim parametrima.
                        </div>
                        <div class="alert alert-warning" role="alert">
                            Zadaci koje su studenti već rešili neće biti obrisani.
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="ChangesWarning" class="col-md-6 control-label" style="font-size: 24px;">Promeni parametre</label>
                    <div class="col-md-3">
                        <input id="ChangesWarning" name="ChangesWarning" class="form-control" type="checkbox" />
                    </div>
                </div>
                <hr />
                <div id="selectStudentParams" style="display: none">
                    <div class="form-group">
                        <label for="StudentCount" class="col-md-6 control-label" style="font-size: 24px;">Novi broj studenata</label>
                        <div class="col-md-6">
                            <div name="StudentCount" id="StudentCount" style="font-size: 36px;">@ViewBag.StudentCount</div>
                        </div>
                    </div>
                    <h3>Parametri:</h3>
                    <div class="form-group">
                        <label for="EnrollmentNumberDiv" class="col-md-4 control-label">Broj indeksa daje ostatak</label>
                        <div class="col-md-2">
                            <input id="EnrollmentNumberDiv" name="EnrollmentNumberDiv" class="form-control" type="number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EnrollmentNumberModulo" class="col-md-4 control-label">po modulu</label>
                        <div class="col-md-2">
                            <input id="EnrollmentNumberModulo" name="EnrollmentNumberModulo" class="form-control" type="number" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="EnrollmentYear" class="col-md-4 control-label">Godina upisa</label>
                        <div class="col-md-3">
                            <input id="EnrollmentYear" name="EnrollmentYear" class="form-control" type="number" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="State" class="col-md-3 control-label">Status</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="0" checked>
                                <span class="label label-primary">Nebitno</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="1">
                                <span class="label label-success">Aktivan</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="-1">
                                <span class="label label-default">Neaktivan</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#StartTime, #EndTime").datetimepicker({
                dateFormat: "dd.mm.yy",
                timeFormat: "HH:mm:ss",
                currentText: "Trenutno vreme",
                closeText: "OK"
            });

            function SimpleRefresh() { RefreshStudentsCount(true); }

            function RefreshStudentsCount(refreshHiddenFields) {
                $("#StudentCount").text("?");

                var form = $("#SelectStudentsForm");
                $.ajax({
                    url: form.prop("action"),
                    method: "get", cache: false,
                    data: form.serialize(),
                    success: function (data) {
                        $("#StudentCount").text(data);
                        if ($("#StudentCountOld").text() == "?")
                        {
                            $("#StudentCountOld").text(data);
                        }
                    }
                });

                // refresh hidden fields
                if (refreshHiddenFields)
                {
                    $("#SelectEnrollmentNumberDiv").val($("#EnrollmentNumberDiv").val());
                    $("#SelectEnrollmentNumberModulo").val($("#EnrollmentNumberModulo").val());
                    $("#SelectEnrollmentYear").val($("#EnrollmentYear").val());
                    $("#SelectStatus").val($("input[name=Status]:checked").val());
                }
            }

            $("#EnrollmentNumberDiv, #EnrollmentNumberModulo, #EnrollmentYear").keyup(SimpleRefresh);
            $("input[name=Status]").change(SimpleRefresh);

            // initialize selection form
            $("#EnrollmentNumberDiv").val($("#SelectEnrollmentNumberDiv").val());
            $("#EnrollmentNumberModulo").val($("#SelectEnrollmentNumberModulo").val());
            $("#EnrollmentYear").val($("#SelectEnrollmentYear").val());
            var status = $("#SelectStatus").val() || "0";
            $("input[name=Status][value=" + status + "]").prop("checked", "checked");

            $("#ChangesWarning").change(function() {
                var checked = $(this).is(":checked");
                $("#selectStudentParams").slideToggle(checked);
            })
        });
    </script>

}
