@model MessyLabAdmin.Models.Student

@{
    ViewData["Title"] = "Izmena podataka studenta";
    ViewData["ActiveNav"] = "Students";
}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Izmena podataka studenta</h2>
        <form asp-action="Edit">
            <div class="form-horizontal">
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label">Ime</label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label">Prezime</label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentNumber" class="col-md-2 control-label">Upisni broj</label>
                    <div class="col-md-3">
                        <input asp-for="EnrollmentNumber" class="form-control" />
                        <span asp-validation-for="EnrollmentNumber" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentYear" class="col-md-2 control-label">Godina upisa</label>
                    <div class="col-md-3">
                        <input asp-for="EnrollmentYear" class="form-control" />
                        <span asp-validation-for="EnrollmentYear" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsActive" />
                            <label asp-for="IsActive">Aktivan student</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="SaÄuvaj" class="btn btn-primary" />
                        <a class="btn btn-default" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
