@model MessyLabAdmin.Models.Student

@{
    ViewData["Title"] = "Izmena podataka studenta";
    ViewData["ActiveNav"] = "Students";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Izmena podataka studenta</h2>
        <hr />
    </div>
</div>
<div class="row">
    <form asp-action="Edit">
        <div class="col-md-5 col-md-offset-2">
            <div class="form-horizontal">
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="PasswordHash" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label">Ime</label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label">Prezime</label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentNumber" class="col-md-2 control-label">Upisni broj</label>
                    <div class="col-md-3">
                        <input asp-for="EnrollmentNumber" class="form-control" />
                        <span asp-validation-for="EnrollmentNumber" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentYear" class="col-md-2 control-label">Godina upisa</label>
                    <div class="col-md-3">
                        <input asp-for="EnrollmentYear" class="form-control" />
                        <span asp-validation-for="EnrollmentYear" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsActive" />
                            <label asp-for="IsActive">Aktivan student</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                        <a class="btn btn-default" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <h4>Podaci za prijavu</h4>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="col-md-5 control-label">Korisničko ime</label>
                    <div class="col-md-6">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Promenjena inicijalna lozinka</label>
                    <div class="col-md-2">
                        @if (ViewBag.PasswordChanged)
                        {
                            <span class="label label-primary">DA</span>
                        }
                        else
                        {
                            <span class="label label-warning">NE</span>
                        }
                    </div>
                </div>
                @if (ViewBag.PasswordChanged)
                {
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <a asp-action="ResetPassword" class="btn btn-success" id="resetPassword">Resetuj lozinku na inicijalnu vrednost</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
            $(function () {
                
                $("#resetPassword").click(function () {
                    var url = $(this).prop("href");
                    $.post(url, { id: $("#ID").val() }, function (data) {
                        if (data && data.ok)
                        {
                            location.reload(true);
                        }
                    });
                    return false;
                });
            });
    </script>
}
